* {
    font-family: 'Roboto', sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    background-color: rgb(33, 33, 33);
    height: 50px; 
    z-index: 2;  
}
header {
    position: relative;
    height: 50px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 300;     
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    height: 84px;
}
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official {
    margin-top: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.502);    
}
.subheader .subheader_call {
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: right; 
    margin-top: 19px;
}
.subheader .subheder_phone {
    display: block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: right;      
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 182px;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1b98b0;
    border-radius: 4px;
    background: -moz-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,225,255,1)), color-stop(100%, rgba(32,174,202,1)));
    background: -webkit-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -o-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: linear-gradient(to bottom, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ce1ff', endColorstr='#20aeca', GradientType=0 );
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21);       
}
.promo {
    min-height: 800px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}
.promo .promo_subheader {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: center;
    font-weight: 300;
    margin-top: 23px;
}
.promo .promo_btn {
    display: block;
    margin-top: 19px;
    width: 259px;
    height: 63px;
    border: none;
    border-bottom: 2px solid #1b98b0;
    border-radius: 4px;
    background: -moz-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,225,255,1)), color-stop(100%, rgba(32,174,202,1)));
    background: -webkit-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -o-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    background: linear-gradient(to bottom, rgba(76,225,255,1) 0%, rgba(32,174,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ce1ff', endColorstr='#20aeca', GradientType=0 );
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21); 
    margin: 118px auto 0 auto;
}
.benefits .benefits_text {
    margin: 70px auto 0 auto;
    padding: 6px 0;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.benefits .benefit_title {
    margin: 36px auto 36px auto;
    font-size: 38px;
    color: rgb(34, 34, 34);
    font-weight:700;
    text-transform: uppercase;
    text-align: center;  
}
.benefits .benefit_item {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 500px;
    height: 162px;
    background: url('../img/icon1.png') no-repeat left;
    padding-left: 135px;
}
.benefits .benefit_item h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
}
.benefits .benefit_item p {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
}
.benefits .item2 {
    background: url('../img/icon3.png') no-repeat left;  
}
.benefits .item3 {
    background: url('../img/icon5.png') no-repeat left;  
}
.benefits .item4 {
    background: url('../img/icon7.png') no-repeat left;  
}
.benefits .item5 {
    background: url('../img/icon2.png') no-repeat left;  
}
.benefits .item6 {
    background: url('../img/icon4.png') no-repeat left;  
}
.benefits .item7 {
    background: url('../img/icon6.png') no-repeat left;  
}
.benefits .item8{
    background: url('../img/icon8.png') no-repeat left;  
}
