@import '_variables.scss';
* {
    font-family: 'Museo Sans Cyrl 100', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_corousel.scss';
@import 'blocks/_catalog.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_otzivi.scss';
@import 'blocks/_modal.scss';
@media screen and (max-width: 950px) {
    .container {
        max-width: 760px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 550px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}
